body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: rgba(57, 117, 185, 0.596) ;
}
h1 {
  font-size: 2 em;
  color: rgb(170, 50, 194);
}

li{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

